.contactUs {
  width: 100%;
  height: 560px;
  position: relative;
  box-sizing: border-box;
  padding: 170px 0;
  text-align: center;
  color: $text-lightblue;
  background: linear-gradient($bg-lightblue) no-repeat, url("../img/hero_contacts.png") no-repeat bottom center;
}

.contactUs__header {
  font: 8*$em "RobotoSlab";
  line-height: 130px;
  margin-bottom: 0;
}

.contactUs__p {
  font: 3*$em "Roboto";
  line-height: 38px;
}

.contactUs__button {
  background-color: transparent;
  border: 1px solid $text-lightblue;
  color: $text-lightblue;
  width: 190px;
  margin-top: 5*$em;
  text-transform: uppercase;
  transition: color 0.5s, background-color 0.5s;
  &:hover, &:active {
    background-color: $text-lightblue;
    color: $bg-lightblue;
    outline: 3px double $bg-lightblue;
  }
}
@import "form";