section.contactUs
    h2.contactUs__header Business Insight
    p.contactUs__p Adding value to companies through strategic, operational, and financial guidance.
    button.button.contactUs__button#contactUs
        a(href="#") Contact Us
    #contactUs__form
        form.contactUs__form
            button.button.button-close(type="button")
                i.far.fa-times-circle.fa-3x
            input(type="text" placeholder=" Your Name")
            br
            input(type="text" placeholder=" Your Surname")
            br
            input(type="mail" placeholder="Your e-mail")
            br
            textarea(placeholder="Your message")
            br
            button.button.button-submit(type="submit") Submit
