section.blog
    div.content
        div.button-pannel
            div.buttont-pannel__left
                button.button.button__blue
                    a.a-block(href="#") All
                button.button.button__white
                    a.a-block(href="#") MI Equity
                button.button.button__lightblue
                    a.a-block(href="#") MI Strategic Growth
                button.button.button__white
                    a.a-block(href="#") Benefit Street Partners
            div.button-pannel__right
                select.button.button__order
                    option sort by date
        div.articles
            div.column
                div.article
                    .label-short
                        a.label-a(href="#")
                    img.article__img(src="img/airplan.png")
                    div.article__text
                        h3 MI Strategic Growth Chief Seeks Disruptive Deals
                        p.article__date 11 &nbsp;
                            span APR &nbsp;
                            |2017
                        p.article__p To achieve this goal, we seek to forge lasting partnerships with talented entrepreneurs and executives...
                div.video
                    video(poster="img/video-1.png" preload="none")
                        source(src="movie/movie.mp4" type="video/mp4")
                        Your browser does not support the video tag.
                    div.video__play
            div.column.column__wide
                div.article
                    .label-middle
                        a.label-a(href="#")
                    img.article__img(src="img/street.png")
                    div.article__text.article__text-wide
                        h3.h3__column-wide MI Strategic Growth Chief Seeks Disruptive Deals
                        p.article__date 11 &nbsp;
                            span APR &nbsp;
                            | 2017
                        p.article__p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias assumenda beatae cupiditate expedita iusto nesciunt nisi pariatur perferendis possimus praesentium, quas sunt ullam. Eligendi est illum maiores ratione voluptatem.
            div.column
                div.article__news
                    h3.news__header MI Strategic Growth Chief Seeks Disruptive Deals
                    p.article__date.news__date 11 &nbsp;
                        span APR &nbsp;
                        | 2017
                div.article__news
                    h3 MI Strategic Growth Chief Seeks Disruptive Deals
                        p.article__date.news__date 11 &nbsp;
                            span APR &nbsp;
                            | 2017
                div.article__news.article__news-active
                    img.news__photo(src='img/photo1.png')
                    a.article__news__text-active(href="#")
                        h3.dots MI Strategic Growth Chief Seeks Disruptive Deals
                        p.article__date.news__date 11 &nbsp;
                            span APR &nbsp;
                            | 2017
                div.article__news
                    h3 MI Strategic Growth Chief Seeks Disruptive Deals
                        p.article__date.news__date 11 &nbsp;
                            span APR &nbsp;
                            | 2017
                div.article__news
                    h3 MI Strategic Growth Chief Seeks Disruptive Deals
                        p.article__date.news__date 11 &nbsp;
                            span APR &nbsp;
                            | 2017
                div.article__news
                    h3 MI Strategic Growth Chief Seeks Disruptive Deals
                        p.article__date 11 &nbsp;
                            span APR &nbsp;
                            | 2017
section.slider-block
    div.slider
        div.slider__item
            div.slider__image
                img(src="img/slide_2.png")
            div.slider__text
                h2 slide 2 header
                p.hero__text Adding value to companies through strategic,
                    br
                    | operational, and financial guidance.
                div.slider__more-info
                    a(href="#").slider__info-a Read more
        div.slider__item
            div.slider__image
                img(src="img/slide_2.png")
            div.slider__text
                h2 MI Strategic Growth Invests
                    br
                    | in Burning Glass
                p.hero__text Adding value to companies through strategic,
                    br
                    | operational, and financial guidance.
                div.slider__more-info
                    a(href="#") Read more !!!
        div.slider__item
            div.slider__image
                img(src="img/slide_2.png")
            div.slider__text
                h2 Lorem ipsum dolor sit
                p.hero__text Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                p.hero__text   Accusamus at debitis doloremque dolores.
                div.slider__more-info
                    a(href="#") Read more
        div.slider__item
            div.slider__image
                img(src="img/slide_2.png")
            div.slider__text
                h2 Lorem ipsum dolor sit
                p.hero__text Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                p.hero__text   Accusamus at debitis doloremque dolores.
                div.slider__more-info
                    a(href="#").slider__info-a Read more

include column-four
