div.content
    div.articles
        div.column.column-short
            div.article
                .label-short
                    a.label-a(href="#")
                img.article__img(src="img/photo2.png")
                div.article__text
                    h3 MI Strategic Growth Chief Seeks Disruptive Deals
                    p.article__date 11 &nbsp;
                        span APR &nbsp;
                        | 2017
                    p.article__p To achieve this goal, we seek to forge lasting partnerships with talented entrepreneurs and executives...
        div.column.column-short
            div.article
                div.video
                    video(poster="img/video-1.png" preload="none")
                        source(src="movie/movie.mp4" type="video/mp4")
                        Your browser does not support the video tag.
                    div.video__play
                div.article__text
                    h3 MI Strategic Growth Chief Seeks Disruptive Deals
                    p.article__date 11 &nbsp;
                        span APR &nbsp;
                        | 2017
                    p.article__p o achieve this goal, we seek to forge lasting partnerships with talented entrepreneurs and executives...
        div.column.column-short
            div.article
                .label-big
                    a.label-a(href="#")
                img.article__img(src="img/photo3.png")
                div.article__text
                    h3 MI Strategic Growth Chief Seeks Disruptive Deals
                    p.article__date 11 &nbsp;
                        span APR &nbsp;
                        | 2017
                    p.article__p To achieve this goal, we seek to forge lasting partnerships with talented entrepreneurs and executives...
        div.column.column-short
            div.article.article__citate__block
                div.article__citate
                    blockquote(cite="#") Griffin-Benefit Street Partners BDC Corp. Declared Effective by SEC
                    .author Phoebe Lamb
        div.column.column-short
            div.article
                .label-big
                    a.label-a(href="#")
                .img-bottom
                    img.article__img(src="img/photo4.png")
                div.article__text
                    h3 MI Strategic Growth Chief Seeks Disruptive Deals
                    p.article__date 11 &nbsp;
                        span APR &nbsp;
                        | 2017
                    p.article__p To achieve this goal, we seek to forge lasting partnerships with talented entrepreneurs and executives...
        div.column.column-short
            div.article.article__citate__block.article__citate__block-gray
                div.article__citate
                    blockquote(cite="#") Griffin-Benefit Street Partners BDC Corp. Declared Effective by SEC
                    .author Phoebe Lamb
        div.column.column-short
            div.article
                .label-short
                    a.label-a(href="#")
                .article__cut-img
        div.column.column-short
            div.article
                .label-short
                    a.label-a(href="#")
                img.article__img(src="img/photo6.png")
                div.article__text
                    h3 MI Strategic Growth Chief Seeks Disruptive Deals
                    p.article__date 11 &nbsp;
                        span APR &nbsp;
                        | 2017
                    p.article__p
                        a(href="#") To achieve this goal, we seek to forge lasting partnerships with talented entrepreneurs and executives..